{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="animated-bg"></div>
<section class="profile-section">
    <div class="profile">
        <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Profile Picture" class="profile-picture">
        <h1>fakedesyncc</h1>
        <p>Backend Developer & DevOps Engineer</p>
        <div class="social-links">
            <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://t.me/fakedesyncc" target="_blank"><i class="fab fa-telegram-plane"></i></a>
            <a href="https://vk.com/etojevanya" target="_blank"><i class="fab fa-vk"></i></a>
            <a href="https://codeforces.com/profile/RoadToIntrovert" target="_blank"><i class="fas fa-code"></i></a>
        </div>
    </div>
</section>
{% endblock %}